{% extends 'projects/base.html' %}

{% load static %}

{% block page_content %}

<div class="container-fluid">
    <h4 class="pt-2 text-center">Sample Software Projects | <a
    href="mailto:raffals@earthlink.net?Subject=Response to your Python portfolio">Rich Raffals</a></h4>
    <h6 class="pl-3 pr-3 font-italic text-center">This portfolio's one of a few
    shelter-in-place projects I coded in Python.  It's a work-in-progress (more
    projects to be added soon!) that utilizes the Django MVC-like framework and the Bootstrap responsive CSS framework.</h6>
    <div class="p-4 row">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-2">
                <a href="{% url 'projects:project_detail' project.pk %}">
                    <img class="card-img-top" src="{% static project.image %}" alt="screenshot of {{ project.title }} project">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|safe|truncatewords:45 }}</p>
                    <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-primary">Project Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
	</div>
</div>

<div class="container-fluid">
    <div class="alert alert-info">
	    <h5 class="font-italic text-center">Proprietary Projects</h5>
	</div>
</div>

<div class="container-fluid">
    <div class="p-4 row">
	{% for project in slide_projects %}
        <div class="col-md-4">
            <div class="card mb-2">
                <a href="{% url 'projects:slide_project_detail' project.pk %}">
                    <img class="card-img-top" src="{% static project.image %}" alt="screenshot of {{ project.title }} project">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|safe|truncatewords:45 }}</p>
                    <a href="{% url 'projects:slide_project_detail' project.pk %}" class="btn btn-primary">Project Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}