{% extends 'projects/base.html' %}
{% load static %}

{% block page_content %}

<!--<h3 class="pt-2 text-center">{{ project.title }}</h3>-->
<div class="card-header text-center">Project: {{ project.title }}</div>

<div class="p-4 row">
    <div class="col-md-8">
	  <a href="{{ project.project_link }}" target="_blank">
        <img src="{% static project.image %}"  alt="screenshot for {{project.title}} project" width="100%">
	  </a>
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description|safe }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology|safe }}</p>
        <a href="{{ project.project_link }}" class="btn btn-primary" target="_blank">Check it out</a>
        <a href="{% url 'projects:all_projects' %}"  class="btn btn-primary">Back to Portfolio</a>
    </div>
</div>

{% endblock %}
