{% extends 'projects/base.html' %}
{% load static %}

{% block page_content %}

<!--<h3 class="pt-2 text-center">{{ project.title }}</h3>-->
<div class="card-header text-center font-italic">{{ project.title }}</div>

<div class="p-4 row">
  <p class="font-italic">Click on video to play demo if browser blocks auto-start...</p>
    <div class="col-md-8 embed-responsive embed-responsive-16by9">
	  <video height="772" width="720" onloadeddata="this.play();" playsinline controls loop
	      poster="{% static project.image %}"
	      class="embed-responsive-item">
	    <source src="{% static project.video %}" type="video/mp4">
	    <p>Your browser doesn't support HTML5 video. Here's a <a href="{{ project.project_link }}" class="btn btn-primary" target="_blank">link to the video</a> instead.</p>
	  </video>
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description|safe }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology|safe }}</p>
	    <div class="text-center">
		  <a align="center" href="{% url 'projects:all_projects' %}" class="btn btn-primary">Back to Portfolio</a>
		</div>
    </div>
</div>

{% endblock %}
